---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex flex-col justify-center text-center py-5">
  <h1 class="text-5xl">Pokedex</h1>
  <nav
    class="flex flex-row text-center justify-between mx-auto min-w-40 gap-10 py-2"
  >
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/search">Search</HeaderLink>
  </nav>
</header>
