---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex flex-row justify-between text-center py-5 px-10 max-md:flex-col max-md:justify-center">
  <a href="/"><h1 class="text-5xl">Pokedex</h1></a>
  <nav
    class="flex flex-row gap-10 justify-center"
  >
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/all-pokemons/0">All Pokemons</HeaderLink>
    <HeaderLink href="/search">Search</HeaderLink>
  </nav>
</header>
